:root {
    --1red: #C72064;
    --1violet: #92278F;
    --1purple1: #782B87;
    --1purple2: #662D91;
    --1darkblue: #262262;
    --1blue: #2B3990;
    --1lightblue: #49769C;
    --1green: #0DA39F;
    --1lightgreen: #A5D9C4;
    --1orange: #F47D3B;
}

canvas #webgl {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

section {
    display: flex;
    opacity: 0.80;
}

#start {
    min-height: 50vh;
    background-color: var(--1orange);
}

#part1 {
    min-height: 50vh;
    background-color: var(--1red);
}

#part2 {
    min-height: 50vh;
    background-color: var(--1blue);
}

#part3 {
    min-height: 50vh;
    background-color: var(--1green);
}
