/*Tag selection ect.*/
html, body {
  margin: 0;
}

:root {
  --gui: #fff;
  --background: #000;
  --1background1: #C72064;
  --1background2: #7f1852;
  --2background1: #614BBD;
  --3background: #282560;
  --4background: #0DA39F;
  --1purple1: #782B87;
  --1purple2: #662D91;
  --1darkblue: #262262;
  --1blue: #2B3990;
  --1lightblue: #49769C;
  --1green: #0DA39F;
  --1lightgreen: #A5D9C4;
  --1orange: #F47D3B;
}

h1, h2, h3, h4, p, kbd {
  color: var(--gui);
}

section {
  display: flex;
  z-index: -1;
}

/*Overlay and GUI styling*/
#overlay {
  position: fixed;
  height: 100vh;
  z-index: auto;
  opacity: 1;

  /*border: 5px solid var(--1orange);*/
}

/*Clock*/
.clock-gui {

}

.hand {
  width: 50%;
  height: 2px;
  background: var(--gui);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/*Keys*/
.keys-gui {
  display: flex;
  height: 33.3333333vh;
  flex-wrap: wrap;
  align-items: center;

  /*border: 2px solid black;*/

}

.key-box {
  width: 33.3333333%;
  text-align: center;
  
}

/*Key press function*/
.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.key {
  display: none;
}
.playing {
  display: block;
}

/*Scroll*/
.scroll-gui {
  min-width: 100px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 50px);
}

#scroll-icon {
  padding: 10px;
  margin-bottom: -40px;
}

#scroll-text {
  bottom: 0xp;
  left: 50%;
  text-align: center;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*END GUI*/

/*Scene length and setting*/
#scene1 {
  height: 100vh;
  background: linear-gradient(var(--1background1), var(--1background2));
}
#scene2 {
  height: 100vh;
  background: linear-gradient(var(--1background2), var(--2background1));
}

/*Scene switching styling and function*/
.slide-in {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--1lightblue);
  border: 3px solid var(--1lightgreen);
}